<html>

  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">

  </head>

    <div class="jumbotron">
      <div class="container">
        <h1>HAGGRID.</h1>
        <p>Haggle for magical things and get rid of magical things.</p>
        <a href="#">Learn More</a>
      </div>
    </div>

    <div class="haggle guide">
         <div class="container">
            <h2>Haggle Guide</h2>
            <p>Not sure who is selling authentic magicals? We've created a guide for magicians all around the world.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                      <%= cl_image_tag(@items[0].photo, :alt => "item 1", height: 200, crop: :fill) %>
                      <h2><%= @items[0].name%></h2>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                      <%= cl_image_tag(@items[1].photo, :alt => "item 2", height: 200, crop: :fill) %>
                      <h2><%= @items[1].name%></h2>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                      <%= cl_image_tag(@items[2].photo, :alt => "item 3", height: 200, crop: :fill) %>
                      <h2><%= @items[2].name%></h2>
                    </div>
                </div>
            </div>
         </div>
    </div>

    <div class="learn-more">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
      <h3>Buy</h3>
      <p>From swords and daggers to castles and ships: buy from all types of people, new and used.</p>
      <p><a href="#">See how to buy from a verified seller</a></p>
        </div>
      <div class="col-md-4">
      <h3>Sell</h3>
      <p>Getting rid of your used sword? Got some extra potions?</p>
      <p><a href="#">Learn more about selling</a></p>
      </div>
      <div class="col-md-4">
      <h3>Trust and Safety</h3>
      <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
      <p><a href="#">Learn about trust at HAGGRID</a></p>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>

