<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <h2>Profile</h2>
        <p>First name: <%= current_user.first_name %></p>
        <p>Last name: <%= current_user.last_name %></p>
        <p>Address: <%= current_user.address %></p>
        <p>Email: <%= current_user.email %></p>
        <p>Rating: </p> <% @rating.times do %> <i class="fa fa-star" aria-hidden="true"></i><% end %>
    </div>
  </div>
  <div class="row">
    <h2>Your items</h2>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-4">
      <div class="item-card">
        <div class="item-card-image">

        </div>
        <div class="item-card-content">
          <div class="item-card-title">
            <h4><%= item.name %></h4>
          </div>
          <div class="flex">
            <p><%= item.price %></p>
            <p><%= item.stats %></p>
            <p><%= item.details %></p>
          </div>
        </div>
        <div class="item-card-actions">
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Delete',
              item_path(item),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <h2>Your Purchases</h2>
  </div>
  <div class="row">
    <% @purchases.each do |purchase| %>
    <div class="col-4">
      <div class="item-card">
        <div class="item-card-image">

        </div>
        <div class="item-card-content">
          <div class="item-card-title">
            <h4><%= purchase.item.name %></h4>
          </div>
          <div class="flex">
            <p><%= purchase.item.price %></p>
            <p><%= purchase.item.stats %></p>
            <p><%= purchase.item.details %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
