<style type="text/css">
body { background: #F2F4E7 !important; }
</style>
<div class="container-fluid">
  <div class="row">
    <h1 align="center">All Items</h1>
  </div>
</div>
<div class="row">
  <% @items.each do |item| %>
  <div class="col-md-3">
    <%= link_to item_path(item.id) do %>
     <div class="thumbnail">
      <%= cl_image_tag item.photo, height: 50, width: 50, crop: :fill %>
        <div class="item-card-image">
        </div>
        <div class="item-card-content">
          <div class="item-card-title">
            <h4 align="centre"><%= item.name %></h4>
          </div>
          <div class="flex">
            <h4>Price: </h4><i class="fab fa-gg-circle"> <%= item.price %></i>
            <h4>Stats: </h4><p><%= item.stats %></p>
          </div>
        </div>
        <div class="item-card-actions">
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="row mt-5">
  <div class="col-1 fixed">
    <%= cl_image_tag("export.jpg", width: 1800, height: 450, crop: :fill)  %>
  </div>
</div>
</div>

