<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
    <h1>All Items</h1>
  </div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
  <div class="col-md-3">
      <div class="item-card">
        <div class="item-card-image">

        </div>
        <div class="item-card-content">
          <div class="item-card-title">
            <h4><%= item.name %></h4>
          </div>
          <div class="flex">
            <h4>Price: </h4><%= image_tag('coins.png', size: '30') %><p><%= item.price %></p>
            <h4>Stats: </h4><p><%= item.stats %></p>
          </div>
        </div>
        <div class="item-card-actions">
          <%= link_to 'More info', item_path(item.id) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-1 fixed">
      <%= cl_image_tag("export.jpg", width: 1800, height: 450, crop: :fill)  %>
    </div>
  </div>
</div>

