<h2><%= @item.name %></h2>
<p><%= @item.price %></p>
<p><%= @item.stats %></p>
<p><%= @item.details %></p>

<%= link_to 'Back to items', items_path %>
<%= link_to 'Add a review', review_item_path %>
<br>
<h3>Reviews</h3>
<% @reviews = @item.reviews %>
<% @reviews.each do |review| %>
<% (review.rating).times do %> <i class="fa fa-star" aria-hidden="true"></i><% end %>
<p><%= review.comment %></p>
<% end %>


