<div class="container">
  <%= link_to 'Back to Items', :back, class: "back" %>
  <div class="grid text-center">
    <div class="card image">
      <div class="card-content">
        <!-- asset_path(@item.picture_url) -->
        <%= cl_image_tag @item.photo, height: 300, width: 300, crop: :fill %>
      </div>
    </div>

    <div class="card info">
      <div class="card-content">
        <h2><%= @item.name %></h2>
        <h4>Price: </h4><i class="fab fa-gg-circle"> <% if @haggles.any? %>
            <%= @haggles.first.price %>
          <% else %>
            <%= @item.price %>
          <%end%></i>
        <h4>Stats: </h4> <p><%= @item.stats %></p>
        <h4>Details: </h4> <p><%= @item.details %></p>
        <%# render "haggle/die_roll" %>
        <%= link_to 'Buy now', purchase_item_path(@item), method: :post %>
        <%= link_to 'Haggle!', haggle_item_path(@item), method: :post %>
      </div>
    </div>

    <div class="card reviews">
      <div class="card-content">
        <%= link_to 'Add a review', reviews_item_path %>
        <h3>Reviews</h3>
        <% @reviews = @item.reviews %>
        <% @reviews.each do |review| %>
          <% (review.rating).times do %> <i class="fa fa-star" aria-hidden="true"></i><% end %>
          <p><%= review.comment %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
